img {
    width: 50%;
    height: 50%;
}

#saintBody {

    background-image: url(/ssbg.jpg);
    color: white;
    width: 1800px;
    height: 1200px;
    background-color: transparent !important;
}

.whoknows {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}