/* * {
    background: black;
    color: white
        /* background-image: url(/star.jpg);
    color: white */
/* } */

#starBody {
    background-image: url(/star.jpg);
    background-repeat: no-repeat;
    color: white;
    width: 1600px;
    height: 1000px
}

/* .background {

    color: white;
    background-image: url(/star.jpg);
} */

@font-face {
    font-family: starWar;
    src: url(/STARWARS.woff)
}


.swTitle {
    font-family: starWar;
    font-size: 25px;
    color: yellow;
}