.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hathat {
  height: 120px;
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#hathat:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#YerAwizard {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.BPheader {
  height: 470px;
  width: 670px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#panther {
  background-color: black;
}

#BPtext {
  color: white;
}

#BPbuttons {
  background-color: rgb(97, 31, 172);
  font-size: 17px;
  width: 170px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

#BPbuttons:before {
  content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#BPbuttons:active {
  color: #000;
}

#BPbuttons:active:after {
  background: transparent;
}

#BPbuttons:hover:before {
  opacity: 1;
}

#BPbuttons:after {
  z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.hpheader {
  background-image: url("./Components/hpwallpaper.jpg");
  background-color: #cccccc;
  height: 900px;
  width: 1600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#HomeButton {
  height: 100px;
  width: 120px;
  justify-content: right;
  }

  #unis {
    flex-direction: row;
  }

  #appname {
    text-align: center;
    text-transform: uppercase;
  }